body {
	background: #fafafa url(images/page-wrapper_bg.png) repeat-x;
	font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
}

a {
	font-size: 1.2em;
	text-decoration: none;
}

a:hover {
	color: #003864;
}

h3 {
	font-weight: 700;
	margin-bottom: 1rem;
}

hr {
	border-top: 1px solid #767676;
	opacity: 1;
}

.btn-primary {
	background-color: #0069d9;
	border-color: #0062cc;
}

.btn-primary:hover {
	background-color: #0062cc;
	border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active {
	background-color: #005cbf;
	border-color: #0052b0;
}
