/*********************
* Body Container CSS
*********************/
#container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#contact-link {
	display: block;
	margin-top: 15px;
	text-align: center;
}

#contact-link:hover {
	text-decoration: underline;
}

@media (min-width: 768px) {
	#container {
		max-width: 900px;
		margin-top: 1.2em;
	}
	#contact-link {
		margin-top: 25px;
	}
}