/*******************
* Contact Page CSS
*******************/
#contact-form {
	padding: 0 15px;
}

#contact-form>.form-group {
	margin-bottom: 0;
	padding-bottom: 1rem;
}

#contact-form>.form-group.required>label:after {
	content: " *";
	color: #c00;
}

#contact-form>.form-group>.input-group {
	width: 200px;
}

#content>.inner>ul.contact-errors {
	padding-left: 50px;
	list-style-type: disc;
}

#content>.inner span.captcha {
	display: table-cell;
	position: relative;
	font-size: 0;
	white-space: nowrap;
	vertical-align: top;
}

#content>.inner span.captcha img {
	height: 105%;
	width: 105%;
	margin-top: -1px;
	margin-right: -1px;
}